In [1]:
import chess
import chess.pgn as pgn
import sys
import os
import pandas as pd
import io

# Data ETL

In [3]:
players = ['Caruana', 'Polgar', 'Fischer', 'Morphy', 'Botvinnik', 'Tal',
 'Kasparov', 'Anand', 'Carlsen', 'Nakamura', 'Alekhine', 'Capablanca']

In [16]:
white_chess_pieces_type = [i for i in range (1, 7)]
mapp = {1: [0] * 64, 2: [0] * 64, 3: [0] * 64, 4: [0] * 64, 5: [0] * 64, 6: [0] * 64}

for player in players:
  gameList = os.listdir('../raw_game/' + player)
  for game in gameList:
    gameLink = '../raw_game/' + player + '/' + game
    
    pgn = open(gameLink)

    first_game = chess.pgn.read_game(pgn)
    board = first_game.board()
    

    for turn, move in enumerate(first_game.mainline_moves()):
      board.push(move)
      for piece in white_chess_pieces_type:
        li = list(board.pieces(piece_type=piece, color=True))
        # print(li)
        for i in li:
          mapp[piece][i] += 1

white_data = pd.DataFrame(mapp)
white_data.rename(columns = {1:'P', 2:'N', 3:'B', 4:'R', 5:'Q', 6:'K'}, inplace=True)

In [21]:
white_chess_pieces_type = [i for i in range (1, 7)]
mapp = {1: [0] * 64, 2: [0] * 64, 3: [0] * 64, 4: [0] * 64, 5: [0] * 64, 6: [0] * 64}

for player in players:
  gameList = os.listdir('../raw_game/' + player)
  for game in gameList:
    gameLink = '../raw_game/' + player + '/' + game
    
    pgn = open(gameLink)

    first_game = chess.pgn.read_game(pgn)
    board = first_game.board()
    

    for turn, move in enumerate(first_game.mainline_moves()):
      board.push(move)
      for piece in white_chess_pieces_type:
        li = list(board.pieces(piece_type=piece, color=False))
        # print(li)
        for i in li:
          mapp[piece][i] += 1

black_data = pd.DataFrame(mapp)
black_data.rename(columns = {1:'p', 2:'n', 3:'b', 4:'r', 5:'q', 6:'k'}, inplace=True)

    p       n       b       r       q       k
0   0     606     732    6749    2416      74
1   0     337    1193    5134    2189     157
2   0     681    1497    5796    2559     215
3   0     793    1509    6312    2832     200
4   0     733    1351    5372    2489     218
.. ..     ...     ...     ...     ...     ...
59  0    8457   12162  151534  564510   11161
60  0   19892   14170  173142   16009  446348
61  0   17687  320745  394831    7622   44174
62  0  140230    2188   26891    1315  695153
63  0     639    2689  481782     664   80413

[64 rows x 6 columns]

In [30]:
piece_data = white_data.join(black_data)
piece_data.insert(loc=0, column = 'Square', value = range(0, len(piece_data)))
piece_data.to_csv('../analysis/position-analysis.csv', index=False)

# Data EDA

In [32]:
piece_data

,Square,P,N,B,R,Q,K,p,n,b,r,q,k
0,0,0,656,3651,766010,3613,6477,0,606,732,6749,2416,74
1,1,0,232777,11047,66403,7014,48197,0,337,1193,5134,2189,157
2,2,0,4445,441167,122437,11216,54844,0,681,1497,5796,2559,215
3,3,0,7305,7717,235946,507827,7986,0,793,1509,6312,2832,200
4,4,0,10128,9098,216408,14214,397820,0,733,1351,5372,2489,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,59,0,1057,1568,7437,3400,330,0,8457,12162,151534,564510,11161
60,60,0,1023,1424,5376,2391,305,0,19892,14170,173142,16009,446348
61,61,0,667,1494,3470,1571,268,0,17687,320745,394831,7622,44174
62,62,0,192,904,2721,1223,211,0,140230,2188,26891,1315,695153
63,63,0,321,328,3251,1668,228,0,639,2689,481782,664,80413